body {
  font-family: Arial, sans-serif;
  max-width: 850px;
  margin: 0 auto;
  padding: 20px 20px;
  line-height: 1.6;
  color: #808080;
  font-size: 16px;
}

header {
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 5px;
  color: #000000;
  font-size: 18px;
}

h2 {
  margin-bottom: 5px;
  color: #000000;
  font-size: 16px;
}

nav a {
  margin-right: 15px;
  color: #808080;
  text-decoration: none;
}

section {
  margin-bottom: 45px;
}

.project {
  border: 0px solid #ddd;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 12px;
}

.experience {
  border: 0px solid #ddd;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 12px;
}

a:hover {
  text-decoration: underline;
}