body {
  font-family: 'Courier New', Courier, monospace;
  max-width: 850px;
  margin: 0 auto;
  padding: 20px 20px;
  line-height: 1.35;
  color: #555555;
  font-size: 14px;
}

header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

h1 {
  margin-bottom: 5px;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
}

h2 {
  margin-bottom: 5px;
  color: #111111;
  font-size: 14px;
  font-weight: normal;
}

p {
  margin: 4px 0;
}

nav a {
  margin-right: 15px;
  color: #404040;
  text-decoration: none;
}

section {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

section:last-child {
  border-bottom: none;
}

.project {
  border: 0px solid #ddd;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 12px;
}

.experience {
  border: 0px solid #ddd;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 12px;
}

a:hover {
  text-decoration: underline;
}